.spending__container {
  align-items: center; 
  color: black;
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content:space-between;
  text-align: center;
  margin: 0px 20px; 
}

thead tr th {
  background-color:rgb(238, 177, 9);
  color:black;
  font-size: 18px;  
  margin: 18px;
  padding: 22px;
}


.spending__container button {
  border-radius: 5px;
  margin: 8px;  
}

.btn__edt {
  background-color: #0C7489;
  border: none;
  color:white;
  cursor: pointer;
  padding: 10px;
  width: 150px;
}

.btn__del {
  background-color: rgb(250, 5, 5);
  border: none;
  color:white;
  cursor: pointer;
  padding: 10px;
  width: 150px;
}

tbody tr:first-child {background: #e8e7e4; font-weight: 500;}
tbody tr:nth-child(2n+3) {background-color:black; color:white}

